.container{
    text-align: center;
    border: 3px solid brown;
    border-radius: 5px;
}

img{
    height: 400px;
    width: 400px;
}

.carousel { 
    max-width: 1000px;
    width: 80%;
    margin: auto;
    border: 5px solid brown;
    border-radius: 5px;
}